{% extends 'cms/base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'cms/content/content-header.html.twig' %}
                        {% block contentTitle %} New Product {% endblock %}
                    {%  endembed %}
                    <div class="row-fluid">
                        <div class="span12 box">
                            <div class="box-header blue-background">
                                <div class="title">
                                    <div class="icon-edit"></div>
                                    Product Info
                                </div>
                                <div class="actions">
                                    {#<a class="btn box-remove btn-mini btn-link" href="#"><i class="icon-remove"></i>#}
                                    {#</a>#}

                                    <a id="product-form" class="btn box-collapse btn-mini btn-link" href="#"><i></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-content">
                                <form class="form form-horizontal" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8">
                                    <input name="authenticity_token" type="hidden">
                                    <div class="control-group">
                                        <label class="control-label" for="inputText1">Text field</label>
                                        <div class="controls">
                                            <input id="inputText1" placeholder="Text field" type="text">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword4">Password field</label>
                                        <div class="controls">
                                            <input id="inputPassword4" placeholder="Password field" type="password" value="Top secret!">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputTextArea1">Textarea</label>
                                        <div class="controls">
                                            <textarea id="inputTextArea1" placeholder="Textarea" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Uneditable input</label>
                                        <div class="controls">
                                            <span class="input-xlarge uneditable-input">Some value here</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="disabledInput1">Disabled input</label>
                                        <div class="controls">
                                            <input class="input-xlarge" disabled="" id="disabledInput1" placeholder="Disabled input here..." type="text">
                                        </div>
                                    </div>
                                    <hr class="hr-normal">
                                    <div class="control-group">
                                        <label class="control-label">Checkboxes</label>
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" value="">
                                                est
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" value="">
                                                et et amet omnis expedita necessitatibus et
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" value="">
                                                distinctio sapiente tenetur inventore aut vel non qui nemo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Inline checkboxes</label>
                                        <div class="controls">
                                            <label class="checkbox inline">
                                                <input type="checkbox" value="">
                                                Tenetur
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" value="">
                                                Illo
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" value="">
                                                Earum
                                            </label>
                                        </div>
                                    </div>
                                    <hr class="hr-normal">
                                    <div class="control-group">
                                        <label class="control-label">Radios</label>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" value="">
                                                sed doloremque ut in eos aliquid voluptates
                                            </label>
                                            <label class="radio">
                                                <input type="radio" value="">
                                                delectus vel et inventore quia corrupti fuga
                                            </label>
                                            <label class="radio">
                                                <input type="radio" value="">
                                                dolore maxime nulla dolorum tempore occaecati
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Inline radios</label>
                                        <div class="controls">
                                            <label class="radio inline">
                                                <input type="radio" value="">
                                                Neque
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" value="">
                                                Ut
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" value="">
                                                Est
                                            </label>
                                        </div>
                                    </div>
                                    <hr class="hr-normal">
                                    <div class="control-group">
                                        <label class="control-label" for="inputSelect">Select</label>
                                        <div class="controls">
                                            <select id="inputSelect">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputSelectMulti">Multiple select</label>
                                        <div class="controls">
                                            <select id="inputSelectMulti" multiple="multiple">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr class="hr-normal">
                                    <div class="control-group warning">
                                        <label class="control-label" for="inputWarning">Input with warning</label>
                                        <div class="controls">
                                            <input id="inputWarning" type="text">
                                            <span class="help-inline">Something may have gone wrong</span>
                                        </div>
                                    </div>
                                    <div class="control-group error">
                                        <label class="control-label" for="inputError">Input with error</label>
                                        <div class="controls">
                                            <input id="inputError" type="text">
                                            <span class="help-inline">Please correct the error</span>
                                        </div>
                                    </div>
                                    <div class="control-group info">
                                        <label class="control-label" for="inputInfo">Input with info</label>
                                        <div class="controls">
                                            <input id="inputInfo" type="text">
                                            <span class="help-inline">Username is already taken</span>
                                        </div>
                                    </div>
                                    <div class="control-group success">
                                        <label class="control-label" for="inputSuccess">Input with success</label>
                                        <div class="controls">
                                            <input id="inputSuccess" type="text">
                                            <span class="help-inline">Woohoo!</span>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="icon-save"></i>
                                            Save
                                        </button>
                                        <button class="btn" type="submit">Cancel</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
