{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends 'CoreBundle:cms:base.html.twig' %}
{% block title %}
    {{ pageName }}
{% endblock %}
{#{% form_theme form 'CoreBundle:cms/form:bootstrap_horizontal_layout.html.twig' %}#}
{% block body %}

    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    <div class='row-fluid'>
                        <div class='span12'>
                            <div class='page-header'>
                                <h1 class='pull-left'>
                                    <i class='icon-edit'></i>
                                    <span>Choose Product Type</span>
                                </h1>
                                <div class='pull-right'>
                                    <ul class='breadcrumb'>
                                        <li>
                                            <a href='index.html'>
                                                <i class='icon-bar-chart'></i>
                                            </a>
                                        </li>
                                        <li class='separator'>
                                            <i class='icon-angle-right'></i>
                                        </li>
                                        <li>
                                            Forms
                                        </li>
                                        <li class='separator'>
                                            <i class='icon-angle-right'></i>
                                        </li>
                                        <li class='active'>Wizard</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='span6 box'>
                        <div class='box-content'>
                            <div class='row-fluid'>
                                {% for productType in productTypes %}
                                    <div class='span3 box-quick-link orange-background'>
                                        <a href="{{ path('oni_add_product_wizard' , {'productType': productType.id}) }}">
                                            <div class='header'>
                                                <div class='{{ productType.icon }}'></div>
                                            </div>
                                            <div class='content'>{{ productType.name }}</div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}